extends layout

block css
    link(rel='stylesheet', href='/stylesheets/estilos.css')

block js
    script(src='/javascripts/Entidad.js')
    script(src='/javascripts/Sprites.js')
    script(src='/javascripts/EntidadPersonaje.js')
    script(src='/javascripts/Juego.js')
    script(type='text/javascript').
      var logueado = 0;
      var usuarioDiv;
      var miUsuarioDiv;
      var miUsuarioDatos;
      var nombre;
      var juego = new Juego();

        jQuery(function ($) {
        var setNombreForm = $('.login form');
        var users = $('.users');
        var usersList = $('.users ul');
        var messages = $('.messages');
        var messageForm = $('.message-box form');
        var message = $('.message');
        var wrapper = $('.wrapper');
        var login = $('.login');
        var contexto = $('#contexto');
        

        setNombreForm.submit(function(event) {
          $('.login').css( "display", "none" );
          event.preventDefault();
          console.log("Intento de login")
          socket.emit('login', $('#nombre').val(), function (data,callback) {
              nombre = $('#nombre').val();
              logueado = 1;
              console.log('Nombre de usuario configurado de modo correcto');
              wrapper.show();
              iniciar();
          });
        });
        });
        socket.on('anuncio', function (data) {
          console.log("a");
          $('.messages').append('<p>' + data.message + '</p>');
        });
        socket.on('usuarios', function (data) {
          var usuariosConectados = '';
          var imagenUsuario = '';
          for (var i = 0; i < data.length; i++) {
            usuariosConectados += '<li><span>' + data[i]['nombre'] + '</span></li>';
            imagenUsuario = render(data[i]);
          }
          $('.users ul').empty().append(usuariosConectados);
        });

        /*socket.on('movimiento', function(data){
          if (data.eje == 'x'){
            margin = parseInt($('#usuario_'+data.id).css("margin-left"));
            $('#usuario_'+data.id).css('margin-left',margin + data.cantidad +"px");
          }
      
        });*/

        function render (usuario) {
        console.log(usuario);
          $('#contexto').append('<div class="usuario" id="usuario_'+usuario.id+'">'+usuario.nombre+'</div>');
         $('#usuario_'+usuario.id).css({'width':'15px','height':'15px','background':'red','margin-left':usuario.x});
          if (nombre == usuario.nombre) {
              miUsuarioDatos = usuario;
              miUsuarioDiv = $('#usuario_'+usuario.id);
          }
        };

        $(document).keypress(function(e) {
          if (logueado === 1){
            juego.movimiento(e.keyCode);
          }
            
        });

        function iniciar(){
          juego.constructor('contexto');
          //juego.iniciar();
          var canvas =  document.getElementById('contexto');
          /*canvas.width=800;
          canvas.height=400;
          canvas.style.backgroundColor="white";*/
          contexto=canvas.getContext('2d');
          /*var image = new Image();
          image.src = "images/personaje.png";*/
          personajeDatos = {
                        'parado1': {
                          'x': 26,
                          'y': 690,
                          'swidth':64,
                          'sheight':64,
                          'width':48,
                          'height':48,
                          'image':'personaje.png'
                        },
                        'parado2':
                        {
                          'x': 122,
                          'y': 785,
                          'swidth':64,
                          'sheight':64,
                          'width':48,
                          'height':48,
                          'image':'personaje.png'
                        }
                      };
          console.log(personajeDatos.parado1.x);
          var dibujarPersonaje = function(sprite,x,y){
            var imageTemp = new Image();
            imageTemp.src = 'images/'+sprite.image;
            contexto.drawImage(imageTemp,sprite.x,sprite.y,sprite.swidth,sprite.sheight,x,y,sprite.width,sprite.height);
          };
          var t = 1;
          var personajeDibujar = function(x,y)
          {
            contexto.clearRect(103,100,27,48);
            if (t==0) {
              dibujarPersonaje(personajeDatos.parado1,x,y);
              t++;
            }
            else{
              //contexto.drawImage(image,26,785,64,64,100,100,48,48);
              dibujarPersonaje(personajeDatos.parado2,x,y);
              t--;
            }
          }
          personajeDibujar(100,100);
          setInterval(function(){personajeDibujar(100,100)},700);
        }


block content
    section.login
      p Login
      form
        input(type='text', id='nombre')
        button Enviar

    section.wrapper
      canvas#contexto
      hr
      p Usuarios:<br/>
      section.messages
        section.users
          ul
