extends layout

block css
    link(rel='stylesheet', href='/stylesheets/estilos.css')

block js
    script(src='/javascripts/Juego.js')
    script(src='/javascripts/Entidad.js')
    script(src='/javascripts/EntidadPersonaje.js')
    script(src='/javascripts/Sprites.js')
    script(type='text/javascript').
      var logueado = 0;
      var usuarioDiv;
      var miUsuarioDiv;
      var miUsuarioDatos;
      var nombre;
      var juego;

      function preparar(){
      juego = new Juego();
      juego.constructor('contexto');
      }
      

        jQuery(function ($) {
        var setNombreForm = $('.login form');
        var users = $('.users');
        var usersList = $('.users ul');
        var messages = $('.messages');
        var messageForm = $('.message-box form');
        var message = $('.message');
        var wrapper = $('.wrapper');
        var login = $('.login');
        var contexto = $('#contexto');
        

        setNombreForm.submit(function(event) {
          $('.login').css( "display", "none" );
          event.preventDefault();
          console.log("Logueando...")
          socket.emit('login', $('#nombre').val(), function (data,callback) {
              nombre = $('#nombre').val();
              logueado = 1;
              console.log('Nombre de usuario configurado de modo correcto');
              wrapper.show();
          });
        });
        });
        socket.on('anuncio', function (data) {
          console.log("Usuario conectado");
          $('.messages').append('<p>' + data.message + '</p>');
        });

        socket.on('nuevoUsuario', function (data) {
          console.log("Usuario conectado");
          juego.cargarJugador(data);
        });


        socket.on('usuarios', function (data) {
          var usuariosConectados = '';
          var imagenUsuario = '';
          for (var i = 0; i < data.length; i++) {
            usuariosConectados += '<li><span>' + data[i]['nombre'] + '</span></li>';
            if (data[i].nombre==nombre) {
              miUsuarioDatos=data[i];
            }else {
              console.log("a");
              juego.cargarJugador(data[i]);
            }
            
          }
          $('.users ul').empty().append(usuariosConectados);
          iniciar(miUsuarioDatos,data);
        });

        /*socket.on('movimiento', function(data){
          if (data.eje == 'x'){
            margin = parseInt($('#usuario_'+data.id).css("margin-left"));
            $('#usuario_'+data.id).css('margin-left',margin + data.cantidad +"px");
          }
      
        });*/


        $(document).keypress(function(e) {
          if (logueado === 1 && (e.keyCode == '37'|| e.keyCode == '38'||e.keyCode == '39'||e.keyCode == '40')){
            e.preventDefault();
            juego.movimiento(e.keyCode);
          }
            
        });

        function iniciar(usuario,jugadores){
          personajeDatos = {
                        'parado1': {
                          'x': 26,
                          'y': 690,
                          'swidth':64,
                          'sheight':64,
                          'width':48,
                          'height':48,
                          'image':'personaje.png'
                        },
                        'parado2':
                        {
                          'x': 122,
                          'y': 785,
                          'swidth':64,
                          'sheight':64,
                          'width':48,
                          'height':48,
                          'image':'personaje.png'
                        }
                      };
          juego.iniciar(usuario,jugadores);
        }


block content
    section.login
      p Login
      form
        input(type='text', id='nombre')
        button Enviar

    section.wrapper
      canvas#contexto
      hr
      p Usuarios:<br/>
      section.messages
        section.users
          ul
